// Variables
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,800');

// Fonts
$f-header: 'Heebo', sans-serif;
$f-secondary: Arial;
$f-body: Arial;
$f-w-black: 800;
$f-w-reg: 500;
$f-w-light: 400;

// Colours
$c-black: #000;
$c-main: purple;
$c-white: #FFF;

// Layout
$l-padding: 20px;